


<%-include('./partial/header')-%>
    <h1> Hi <%= user.username %></h1>

    <div id="pass_edit_panel" class="container mt-1 center_div" style="display: none">

            <label for="curr_password">رمز عبور فعلی</label>
            <input class="form-control" type="password" id="curr_password" name="curr_password" required>
            <label for="password">رمز عبور</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <button class="btn btn-primary mt-1" id="btn_pass_save" type="button">ذخیره</button>
      
    </div>
    <div id="username_edit_panel" class="container mt-1 center_div" style="display: none">
      
            <label for="username">نام کاربری جدید</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <button class="btn btn-primary mt-1" id="btn_username_save" type="button">ذخیره</button>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="/js/main.js"></script>
</body>

</html>