<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        

</head>

<body>
    <form action="/api/auth/register" method="POST">
        <div class="form font">
            <div class="login-box">
                <label>ثبت نام</label>
                <div class="input">
                    <div class="inputbox border font">
                        <input id="user-name" name="username" class="font" type="text" placeholder="نام کاربری">
                    </div>
                    <div class="inputbox border">
                        <input id="password" name="password" class="font" type="password" placeholder="رمز عبور">
                    
                    </div>
                    <div class="inputbox border">
                        <input id="pass-repeat" class="font" type="password" placeholder=<%= msg ? msg : `تکرار رمز عبور` %>>
                    
                    </div>
                    <div class="inputbox border">
                        <input class="font" type="submit" value="ثبت نام">
                    </div>
                </div>
                <p>حساب کاربری ندارید؟ <a href="">ثبت نام</a></p>
                <p><%= msg %></p>
            </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
</body>

</html>